.content-autocomplete {
    display: table-footer-group;
}

.hide-autocomplete {
    display: table-cell;
}

.dropdown-autocomplete {
    position: absolute;
    z-index: 1000;
    display: table-cell;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #FFFFFF;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-autocomplete > li {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.dropdown-autocomplete > li:hover {
    cursor: pointer;
    color: #262626;
    text-decoration: none;
    background-color: #F5F5F5;
}
