/* BOOTSTRAP ================================= */
.panel,
.modal-content {
    box-shadow: none;
}

.alert,
.panel,
.navbar,
.modal-content,
.input-group-addon,
.list-group-item,
.btn {
    border: 0;
}

.alert,
.btn,
.panel,
.panel-heading,
.modal-content,
.input-group-addon,
.form-control,
.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}

.list-group-item {
    margin-bottom: 0;
    border-bottom: 1px solid #DDDDDD;
}

.input-group-addon {
    text-align: left;
    border: 1px solid #EBEBEB;
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
    color: #FFFFFF;
    background-color: #019CDE;
}

.table-hover > tbody > tr:hover {
    background-color: #EBEBEB;
}

.panel {
    border-bottom: 4px solid transparent;
}

.panel-primary {
    border-bottom-color: #337AB7;
}

.panel-default {
    border-bottom-color: #DDDDDD;
}

.panel-default > .panel-heading {
    background-color: #DDDDDD;
}

.panel-default > .panel-heading {
    color: #555555;
}

/* GENERAL =================================== */
body {
    background-color: #F5F5F5;
    color: #666666;
}

.form-table {
    display: table;
}

.form-table > .input-group,
.form-table-row {
    display: table-row;
}

.form-table-cell-hidden {
    display: table-cell;
    padding-bottom: 15px;
}

.text-header {
    padding: 12px 15px;
}

.btn-actions {
    width: 90px;
}

.btn-actions a.btn,
.btn-action {
    padding: 3px 10px;
    font-size: 0.7em;
}

.navbar-custom {
    background-color: #FFFFFF;
}

.navbar-custom .navbar-header {
    float: none;
}

.navbar-custom .navbar-header {
    border-bottom: 1px solid #DDDDDD;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #DDDDDD;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: #888888;
}

.navbar-custom .navbar-brand {
    color: #777777;
}

.navbar-custom .navbar-collapse {
    padding: 0;
}

.navbar-custom .list-group {
    margin-bottom: 0;
}

#messages {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

#messages .alert {
    border-left: 4px solid transparent;
}

#messages .alert-danger {
    border-color: #A94442;
}

#messages .alert-success {
    border-color: #3C763D;
}
